name: Release

on:
  workflow_dispatch:
    inputs:
      push_itch:
        description: Update Itch extension archive
        type: boolean
        default: true
      push_itch_doc:
        description: Update Itch documentation archive
        type: boolean
        default: true
      push_github:
        description: Update GitHub extension archive
        type: boolean
        default: true
  push:
    tags:
      - v*

env:
  RENPY_VERSION: '8.5.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        path: project
        lfs: true

    - name: Ren'Py directory cache management
      uses: actions/cache@v5
      id: cache-renpy
      with:
        path: renpy
        key: ${{ runner.os }}-${{ env.RENPY_VERSION }}-primes

    - name: "Download Ren'Py"
      uses: Ayowel/renpy-setup-action@v2
      if: steps.cache-renpy.outputs.cache-hit != 'true'
      with:
        action: install
        version: ${{ env.RENPY_VERSION }}
        install_dir: renpy

    - name: Download SDK
      run: python3 project/scripts/get_sdk.py

    - name: "Build extensions' archives"
      working-directory: project/extensions
      run: |
        pip3 install -r build-requirements.txt
        python3 build.py

    - name: "Validate project"
      run: |
        ./renpy/renpy.sh project lint --error-code

    - name: Install release packager
      run: pip install repzip

    - name: "Generate release file"
      run: |
        repzip epic_eos.zip --recurse --root project game/epic_eos.rpe libs

    - name: "Install documentation dependencies"
      run: |
        sudo apt-get install -y asciidoctor ruby-rouge

    - name: "Generate documentation files"
      run: |
        asciidoctor project/README.adoc -o README.html

    - name: "Get release info"
      id: release-info
      working-directory: project
      run: |
        echo -n "VERSION=" >>$GITHUB_OUTPUT
        git describe --always --tags >>$GITHUB_OUTPUT

    - uses: softprops/action-gh-release@v2.5.0
      if: ${{ github.event_name == 'push' || github.event.inputs.push_github == 'true' }}
      with:
        files: |
          epic_eos.zip
          README.html

    - uses: Ayowel/butler-to-itch@v1
      if: ${{ github.event_name == 'push' || github.event.inputs.push_itch == 'true' }}
      env:
        butler_key: ${{ secrets.BUTLER_CREDENTIALS }}
        itch_user: Ayowel
        itch_game: renpy-epic-integration
        version: ${{ steps.release-info.outputs.VERSION }}
        files: |
          pc  epic_eos.zip
          doc README.html
